.footerContainer{
    position: fixed;
    bottom: 0;
    background-color: rgba(25,118,210,255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    color: aliceblue;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}